<% g = @games.find { |g| g.bracket_position_id == bracket_position_id } %>
<% if g.nil? %>
  <%= render partial: 'empty_game', locals: { bracket_position_id: bracket_position_id } %>
<% else %>
  <% if bracket_position_id != "701" %>
    <% if g.game_is_live? %>
      <%= content_tag :div, class: 'live-top', title: g.game_status do %>
        <%= g.game_status %>
      <% end %>
    <% else %>
      <div class='live-top'></div>
    <% end %>
  <% end %>
  <% if g.game_is_live? %>
  <div class='game-cell game-is-live'>
  <% else %>
  <div class='game-cell'>
  <% end %>
    <% if g.team_on_top_is_winner? %>
      <div class='team-info info-top winner'>
    <% else %>
      <div class='team-info info-top'>
    <% end %>
        <div class='team-seed'><%= g.team_on_top_seed %></div>
        <%= content_tag :div, class: 'team-name', title: g.team_on_top_name_full do %>
          <%= g.team_on_top_name_short %>
        <% end %>
        <div class='team-score'><%= g.team_on_top_score %></div>
    </div>
    <% if g.team_on_bottom_is_winner %>
      <div class='team-info info-bottom winner'>
    <% else %>
      <div class='team-info info-bottom'>
    <% end %>
        <div class='team-seed'><%= g.team_on_bottom_seed %></div>
        <%= content_tag :div, class: 'team-name', title: g.team_on_bottom_name_full do %>
          <%= g.team_on_bottom_name_short %>
        <% end %>
        <div class='team-score'><%= g.team_on_bottom_score %></div>
    </div>
  </div>
  <%= content_tag :div, class: 'live-bottom', title: g.square_winner do %>
    <%= g.square_winner %>
  <% end %>
<% end %>
