<div class="region-info">
  <%= @regions.find_by(quadrant_id: quadrant).name %>
</div>

<% (1..8).each do |i| %>
  <% offset = (quadrant - 1) * 8 %>
  <% game_id = 200 + offset + i %>
  <%= content_tag :div, id: "game#{game_id}", class: "game-set pre game-xs col-1 pos-#{i}" do %>
    <%= render partial: 'game', locals: { bracket_position_id: game_id.to_s } %>
  <% end %>
<% end %>

<% (1..4).each do |i| %>
  <% offset = (quadrant - 1) * 4 %>
  <% game_id = 300 + offset + i %>
  <%= content_tag :div, id: "game#{game_id}", class: "game-set pre game-xs col-2 pos-#{i}" do %>
    <%= render partial: 'game', locals: { bracket_position_id: game_id.to_s } %>
  <% end %>
<% end %>

<% (1..2).each do |i| %>
  <% offset = (quadrant - 1) * 2 %>
  <% game_id = 400 + offset + i %>
  <%= content_tag :div, id: "game#{game_id}", class: "game-set pre game-xs col-3 pos-#{i}" do %>
    <%= render partial: 'game', locals: { bracket_position_id: game_id.to_s } %>
  <% end %>
<% end %>

<% (1..1).each do |i| %>
  <% game_id = 500 + quadrant %>
  <%= content_tag :div, id: "game#{game_id}", class: "game-set pre game-xs col-4 pos-1" do %>
    <%= render partial: 'game', locals: { bracket_position_id: game_id.to_s } %>
  <% end %>
<% end %>
