<% provide(:title, "Bracket") %>
<%= stylesheet_link_tag 'bracket', cache: true %>
<div class="panel panel-default">
  <div class="panel-heading" align="center" style="font-size:2em;"><%= $year %> Bracket</div>
  <div class="panel-body" id="bracket-body">
    <section class="col-sm-12">
      <div id="bracket-top" class="bracket-section">
        <section id="bracket-top-left" class="bracket-region ltr">
          <%= render partial: 'quadrant', locals: { quadrant: 1 } %>
        </section>

        <section id="bracket-top-right" class="bracket-region rtl">
          <%= render partial: 'quadrant', locals: { quadrant: 3 } %>
        </section>
      </div>
      <div id="bracket-middle" class="bracket-section">
        <div class="champ-logo"><img class="championship-bracket-logo" typeof="foaf:Image" src="http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/default/files/styles/championship_bracket_logo/public/m_final_four.png?itok=6L8M8-mp" alt=""></div>
        <section id="bracket-final" class="bracket-region ctr">
          <div id="bracket-final-games">
            <section id="game601" class="game-set pre game-sm sect-6 col-1 pos-1">
              <%= render partial: 'game', locals: { bracket_position_id: "601" } %>
            </section>

            <section id="game701" class="game-set pre game-lg championship sect-6 col-2 pos-1">
              <%= render partial: 'game', locals: { bracket_position_id: "701" } %>
            </section>
            
            <section id="game602" class="game-set pre game-sm sect-6 col-3 pos-1">
              <%= render partial: 'game', locals: { bracket_position_id: "602" } %>
            </section>
          </div>
        </section>
      </div>
      <div id="bracket-bottom" class="bracket-section">
        <section id="bracket-bottom-left" class="bracket-region ltr">
          <%= render partial: 'quadrant', locals: { quadrant: 2 } %>
        </section>

        <section id="bracket-bottom-right" class="bracket-region rtl">
          <%= render partial: 'quadrant', locals: { quadrant: 4 } %>
        </section>
      </div>
      <div id="bracket-footer" class="bracket-section ">
        <section id="bracket-first" class="bracket-region ctr">
          <div class="region-info">
            <h2 class="region-title">First Four</h2>
          </div>
          
          <section id="game101" class="game-set pre game-xs sect-1 col-1 pos-1">
            <%= render partial: 'game', locals: { bracket_position_id: "101" } %>
          </section>
          
          <section id="game102" class="game-set pre game-xs sect-1 col-2 pos-1">
            <%= render partial: 'game', locals: { bracket_position_id: "102" } %>
          </section>
          
          <section id="game103" class="game-set pre game-xs sect-1 col-3 pos-1">
            <%= render partial: 'game', locals: { bracket_position_id: "103" } %>
          </section>
          
          <section id="game104" class="game-set pre game-xs sect-1 col-4 pos-1">
            <%= render partial: 'game', locals: { bracket_position_id: "104" } %>
          </section>
          
        </section>
      </div>
    </section>
  </div>
</div>
