<% provide(:title, "Bracket") %>
<%= stylesheet_link_tag 'bracket', cache: true %>
<div class="panel panel-default">
  <div class="panel-heading" align="center" style="font-size:2em;"><%= $year %> Bracket</div>
  <div class="panel-body">
    <div class="content" id='bracketPage'>
      <div class="clearfix"></div>
      <div style="width:990px;position:relative;" class="bracketParent grid34">
        <div id="bracket" class="bracket-games topGames16">
          <div id="section21" class="ltr" style="position:relative;width:495px;height:537px;float:left;">
            <%= render partial: 'region', locals: { quadrant_id: 2 } %>
            <div class="column1 round" style="width:165px;">
              <div class="roundTitle">
                <span class="rTitle">Second Round</span>
              </div>
              <div id="game201" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '201' } %>
              </div>
              <div id="game202" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '202' } %>
              </div>
              <div id="game203" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '203' } %>
              </div>
              <div id="game204" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '204' } %>
              </div>
              <div id="game205" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '205' } %>
              </div>
              <div id="game206" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '206' } %>
              </div>
              <div id="game207" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '207' } %>
              </div>
              <div id="game208" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '208' } %>
              </div>
            </div>
            <div class="column2 round" style="width:82px;">
              <div class="roundTitle">
                <span class="rTitle">Third Round</span>
              </div>
              <div id="game301" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;">
                <%= render partial: 'game', locals: { bracket_position_id: '301' } %>
              </div>
              <div id="game302" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '302' } %>
              </div>
              <div id="game303" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '303' } %>
              </div>
              <div id="game304" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '304' } %>
              </div>
            </div>
            <div class="column3 round" style="width:82px;">
              <div class="roundTitle">
                <span class="rTitle">Sweet Sixteen</span>
              </div>
              <div id="game401" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;">
                <%= render partial: 'game', locals: { bracket_position_id: '401' } %>
              </div>
              <div id="game402" class="gameSet  game-xs "style="margin-bottom:181px;">
                <%= render partial: 'game', locals: { bracket_position_id: '402' } %>
              </div>
            </div>
            <div class="column4 round" style="width:165px;gameset-css:88;column-css:207;">
              <div class="roundTitle">
                <span class="rTitle">Elite Eight</span>
              </div>
              <div id="game501" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;">
                <%= render partial: 'game', locals: { bracket_position_id: '501' } %>
              </div>
            </div>
          </div>
          <div id="section23" class="rtl" style="position:relative;width:495px;height:537px;float:right;">
            <%= render partial: 'region', locals: { quadrant_id: 1 } %>
            <div class="column1 round" style="width:165px;">
              <div class="roundTitle">
                <span class="rTitle">Second Round</span>
              </div>
              <div id="game217" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;">
                <%= render partial: 'game', locals: { bracket_position_id: '217' } %>
              </div>
              <div id="game218" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '218' } %>
              </div>
              <div id="game219" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '219' } %>
              </div>
              <div id="game220" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '220' } %>
              </div>
              <div id="game221" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '221' } %>
              </div>
              <div id="game222" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '222' } %>
              </div>
              <div id="game223" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '223' } %>
              </div>
              <div id="game224" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '224' } %>
              </div>
            </div>
            <div class="column2 round" style="width:82px;">
              <div class="roundTitle">
                <span class="rTitle">Third Round</span>
              </div>
              <div id="game309" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;">
                <%= render partial: 'game', locals: { bracket_position_id: '309' } %>
              </div>
              <div id="game310" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '310' } %>
              </div>
              <div id="game311" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '311' } %>
              </div>
              <div id="game312" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '312' } %>
              </div>
            </div>
            <div class="column3 round" style="width:82px;">
              <div class="roundTitle">
                <span class="rTitle">Sweet Sixteen</span>
              </div>
              <div id="game405" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;">
                <%= render partial: 'game', locals: { bracket_position_id: '405' } %>
              </div>
              <div id="game406" class="gameSet  game-xs "style="margin-bottom:181px;">
                <%= render partial: 'game', locals: { bracket_position_id: '406' } %>
              </div>
            </div>
            <div class="column4 round" style="width:165px;gameset-css:88;column-css:207;">
              <div class="roundTitle">
                <span class="rTitle">Elite Eight</span>
              </div>
              <div id="game503" class="gameSet game-xs "style="margin-bottom:88px;margin-top:207px;">
                <%= render partial: 'game', locals: { bracket_position_id: '503' } %>
              </div>
            </div>
          </div>
          <div id="section32" class="ltr" style="top:-65px;height:95px!important;position:relative;width:596px;float:left;clear:both;margin-left:195px;margin-bottom:37px;padding-left:12px;padding-right:4px;">
            <span class="sectionHeading">Final Four</span>
            <div class="column1 round" style="width:189px">
              <div id="game601" class="gameSet  game-sm" style="margin-top:26px;">
                <%= render partial: 'game', locals: { bracket_position_id: '601' } %>
              </div>
            </div>
            <div class="column2 round championship" style="width:212px">
              <div id="game701" class="gameSet game-lg isChamp" style="margin-top:33px">
                <span class="specialText">National Championship</span>
                <%= render partial: 'game', locals: { bracket_position_id: '701' } %>
              </div>
            </div>
            <div class="column3 round last" style="width:189px">
              <div id="game602" class="gameSet game-sm" style="margin-left:7px;margin-top:-55px;">
                <%= render partial: 'game', locals: { bracket_position_id: '602' } %>
              </div>
            </div>
          </div>
          <div id="section41" class="ltr" style="top:-70px;height:400px;position:relative;width:495px;float:left;">
            <%= render partial: 'region', locals: { quadrant_id: 3 } %>
            <div class="column1 round" style="width:165px;">
              <div id="game209" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;">
                <%= render partial: 'game', locals: { bracket_position_id: '209' } %>
              </div>
              <div id="game210" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '210' } %>
              </div>
              <div id="game211" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '211' } %>
              </div>
              <div id="game212" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '212' } %>
              </div>
              <div id="game213" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '213' } %>
              </div>
              <div id="game214" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '214' } %>
              </div>
              <div id="game215" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '215' } %>
              </div>
              <div id="game216" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '216' } %>
              </div>
            </div>
            <div class="column2 round" style="width:82px;">
              <div id="game305" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;">
                <%= render partial: 'game', locals: { bracket_position_id: '305' } %>
              </div>
              <div id="game306" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '306' } %>
              </div>
              <div id="game307" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '307' } %>
              </div>
              <div id="game308" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '308' } %>
              </div>
            </div>
            <div class="column3 round" style="width:82px;">
              <div id="game403" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;">
                <%= render partial: 'game', locals: { bracket_position_id: '403' } %>
              </div>
              <div id="game404" class="gameSet  game-xs "style="margin-bottom:181px;">
                <%= render partial: 'game', locals: { bracket_position_id: '404' } %>
              </div>
            </div>
            <div class="column4 round" style="width:165px;gameset-css:88;column-css:207;">
              <div id="game502" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;">
                <%= render partial: 'game', locals: { bracket_position_id: '502' } %>
              </div>
            </div>
          </div>
          <div id="section43" class="rtl" style="top:-70px;height:400px;position:relative;width:495px;float:right;">
            <%= render partial: 'region', locals: { quadrant_id: 4 } %>
            <div class="column1 round" style="width:165px;">
              <div id="game225" class="gameSet  game-xs "style="margin-bottom:10px;margin-top:0px;">
                <%= render partial: 'game', locals: { bracket_position_id: '225' } %>
              </div>
              <div id="game226" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '226' } %>
              </div>
              <div id="game227" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '227' } %>
              </div>
              <div id="game228" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '228' } %>
              </div>
              <div id="game229" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '229' } %>
              </div>
              <div id="game230" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '230' } %>
              </div>
              <div id="game231" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '231' } %>
              </div>
              <div id="game232" class="gameSet  game-xs "style="margin-bottom:10px;">
                <%= render partial: 'game', locals: { bracket_position_id: '232' } %>
              </div>
            </div>
            <div class="column2 round" style="width:82px;">
              <div id="game313" class="gameSet  game-xs "style="margin-bottom:68px;margin-top:29px;">
                <%= render partial: 'game', locals: { bracket_position_id: '313' } %>
              </div>
              <div id="game314" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '314' } %>
              </div>
              <div id="game315" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '315' } %>
              </div>
              <div id="game316" class="gameSet  game-xs "style="margin-bottom:68px;">
                <%= render partial: 'game', locals: { bracket_position_id: '316' } %>
              </div>
            </div>
            <div class="column3 round" style="width:82px;">
              <div id="game407" class="gameSet  game-xs "style="margin-bottom:181px;margin-top:88px;">
                <%= render partial: 'game', locals: { bracket_position_id: '407' } %>
              </div>
              <div id="game408" class="gameSet  game-xs "style="margin-bottom:181px;">
                <%= render partial: 'game', locals: { bracket_position_id: '408' } %>
              </div>
            </div>
            <div class="column4 round" style="width:165px;gameset-css:88;column-css:207;">
              <div id="game504" class="gameSet  game-xs "style="margin-bottom:88px;margin-top:207px;">
                <%= render partial: 'game', locals: { bracket_position_id: '504' } %>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <span class="logo"></span>
        </div>
      </div>
      <div id="bracket_popup">
        <div id="popup_team1">
          <div id="popup_team1_logo"></div>
          <div id="popup_team1_rank_name"></div>
          <div id="popup_team1_stat"></div>
          <div id="popup_team1_radio"></div>
          <div id="popup_team1_score"></div>
        </div>
        <div id="popup_game_details">
          <div id="popup_game_date"></div>
          <div id="popup_game_time"></div>
          <div id="popup_game_network"></div>
          <div id="popup_game_round"></div>
        </div>
        <div id="popup_team2">
          <div id="popup_team2_logo"></div>
          <div id="popup_team2_rank_name"></div>
          <div id="popup_team2_stat"></div>
          <div id="popup_team2_radio"></div>
          <div id="popup_team2_score"></div>
        </div>
        <a href="#" id="popup_first_link" class="popup_gamecenter"></a>
        <a href="#" id="popup_middle_link" class="popup_preview"></a>
        <a href="#" id="popup_last_link" class="popup_gamecenter"></a>
        <a href="#" id="popup_close">Close</a>
      </div>
    </div>
  </div>
</div>
