<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      .team-seed {
        font-size: smaller;
        text-align: right;
      }
      .team-name {
        padding-right: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Congratulations, <%= @participant.first_name %>!</h1>
    <!--User.where(weekly_subscriber: true).find_each do |user|
      NewsMailer.weekly(user).deliver_now
    end-->
    <p>
      You won $<%= @payout.game_payout %> in round #<%= @game.round %> of the NCAA Men's Basketball Tournament!
    </p>
    <table>
      <tr>
        <td class="team-seed"><%= @game.team_on_top_seed %></td>
        <td class="team-name"><%= @game.team_on_top_name_short %></td>
        <td><%= @game.team_on_top_score %></td>
      </tr>
      <tr>
        <td class="team-seed"><%= @game.team_on_bottom_seed %></td>
        <td class="team-name"><%= @game.team_on_bottom_name_short %></td>
        <td><%= @game.team_on_bottom_score %></td>
      </tr>
    </table>
  </body>
</html>
