<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= link_to 'The Grid Pool', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="nav_link_to_results"><%= link_to 'Results', controller: 'pages', action: 'results', year: $year %></li>
        <li id="nav_link_to_bracket"><%= link_to 'Bracket', bracket_path, id: 'bracketLink', remote: true %></li>
        <li id="nav_link_to_grid"><%= link_to 'Grid', grid_path %></li>
        <li id="nav_link_to_faq"><%= link_to 'FAQ', faq_path %></li>
      </ul>
    </div>
  </div>
</nav>
