<nav class="navbar navbar-dark bg-inverse">
  <%= link_to 'The Grid Pool', root_path, class: 'navbar-brand' %>
  <div class="nav navbar-nav pull-xs-right">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" id="nav_link_to_results"><%= link_to 'Results', { controller: 'pages', action: 'results', year: $year } %></li>
      <li class="nav-item" id="nav_link_to_bracket"><%= link_to 'Bracket', bracket_path(year: $year), id: 'bracket_link' %></li>
      <li class="nav-item" id="nav_link_to_grid"><%= link_to 'Grid', grid_path(year: $year) %></li>
      <li class="nav-item" id="nav_link_to_faq"><%= link_to 'FAQ', faq_path(year: $year) %></li>
    </ul>
  </div>
</nav>
