<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Roboto:400,300' %>
		<%= stylesheet_link_tag    'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navbar' %>
		<%= yield %>
		<%= render 'layouts/wait' %>
	</body>
</html>
